# LLM Config
OPENAI_API_KEY="sk-local-dev"
OPENAI_API_BASE="http://127.0.0.1:4000"

# Notify Config
NOTIFY_WEBHOOK_URLS="https://example1.com/webhook,https://example2.com/webhook"

# LangSmith
LANGSMITH_API_KEY=
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_PROJECT=ainformer
LANGSMITH_TRACING=true

# allow ssl certificate
SSL_CERT_FILE=